body {
  font-family: "Verdana";
  background-color: #ecf0f1;
}
.title {
  color: #130f40;
}
li{
    list-style: none;
}
.header {
  background-color: #ff9f1a;
  color: #130f40;
  height: 90px;
}
header {
  height: 65px;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0px;
  z-index: 10;
}
.header-logo {
  padding: 20px 40px;
  float: left;
  font-size:36px;
}
.header-list li {
  float: left;
  padding: 33px 20px;
}
.section-title {
  border-bottom: 4px solid #dee7ec;
  margin: 10px 40px;
  padding: 10px 0px;
  text-align: center;
  font-weight: normal;
}
.main{
  background-color: #f7f1e3;
  padding: 100px 80px;
}
.container {
  padding: 0px 20px;
  margin: 0 auto;
}
.top-wrapper {
  padding: 150px 0 50px 0;
  background-image: url(https://cdn.pixabay.com/photo/2019/09/19/15/52/kebab-4489587_960_720.png);
  background-size: 300px 360px;
  opacity: 0.5px;
  text-align: center;
}
.top-wrapper h1 {
  font-size: 40px;
  letter-spacing: 7px;
  margin-top: 10px;
  font-style: oblique;
  color: #ecf0f1;
  text-shadow: 3px 3px 1px black;
}
.top-wrapper p {
  opacity: 1;
  margin: 20px 5px;
  color: black;
  text-shadow: 2px 2px 4px #dcdde1;
  font-variant-caps: petite-caps;
  letter-spacing: 4px;
}
.btn {
  padding: 12px 24px;
  color: #130f40;
  display: inline-block;
  opacity: 0.8;
  border-radius: 6px;
}
btn:hover {
  border-radius: 6px;
  opacity: 0.8;
  background-color: #130f40;
  transition: all 0.5s;
}
.btn-wrapper {
  margin: 15px 0;
  display: inline-block;
  margin-right: 60px;
  margin-top: 0px;
  text-align: right;
}
.message-wrapper {
  border-bottom: 2px solid #eee;
  padding-top: 5px;
  margin-top: 5px;
  text-align: center;
  background-color: #f39c12;
  font-weight: bold;
}
.container h3 {
  color: black;
  font-size: 18px;
  letter-spacing: 1px;
  padding-top: 5px;
  margin-top: 5px;
}
.message {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #34495e;
  cursor: pointer;
  color: white;
}
.message:active {
  box-shadow: 0px 4px #2c3e50;
  position: relative;
  top: 2px;
}
.main {
  margin-top: 12px;
  padding-top: 5px;
}
.footer{
  background-color: #f1c40f;
  color: #130f40;
  height: 120px;
  padding: 30px;
}
.footer-logo {
  font-size: 32px;
  float: left;
}
.footer-list {
  float: right;
}
.footer-list li {
  padding-bottom: 20px;
}
.contents {
  height: 500px;
  margin-top: 100px;
}
.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.contents-item {
  float: left;
  margin-right: 40px;
  img-size: 20px 10px;
}
.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}
.fa {
  margin-right: 5px;
}
